%div.row-fluid
  %div.col-lg-6
    %h2.muted
      Temperature
    %h1
      %span.dark.measurement#temperature
  %div.col-lg-6
    %h2.muted
      Humidity
    %h1
      %span.dark.measurement#humidity
%div.row
  %div.col-lg-12
    Last updated
    %span#timestamp

:javascript

  fade_if_different = function(element, value) {
    if (element.html() == value) {
      return;
    }
    else {
      element.html(value).hide().fadeIn();
    }
  }

  update_databox = function() {
    $.getJSON('measurement/latest.json', function(data) {
        var temperature = data.temperature;
        var humidity = data.humidity;
        var timestamp = new Date(data.created_at);
        timestamp = jQuery.timeago(timestamp);

        document.title = temperature + ' C, ' + humidity +' %';

        fade_if_different($('#temperature'), temperature + ' C');
        fade_if_different($('#humidity'), humidity + ' %');
        fade_if_different($('#timestamp'), timestamp);

      });
  }

  updateloop = function() {
    setTimeout(function() {
      update_databox()
      updateloop()}
    , 3000)
  }

  $(function() {
    update_databox();
    updateloop();
  });


