!!! 5

%html
  %head
    %title Greenhouse

    %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
    = css :main
    = js :main

%body

  %div.container
    = haml :_topbar
    = yield
