!!! 5

%html
  %head
    %title Greenhouse

    %meta{ :name => 'viewport', :content =>'width=device-width, initial-scale=1.0' }

    %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
    = css :main
    = js :main

%body

  %div.container
    = haml :_topbar
    = yield
